@define-color kana-base #0F101A;
@define-color kana-overlay #1E2031;
@define-color kana-subtile #3D415A;
@define-color kana-text #D8DADF;
@define-color kana-white #FFFFFF;
@define-color kana-red #FF5D62;
@define-color kana-pink #FFA066;
@define-color kana-purple #E6C384;
@define-color kana-blue #9CAE75;
@define-color kana-green #7AA89F;
@define-color kana-yellow #A7D7DE;

/* Shades */
@define-color volume #393E5B;
@define-color bat #2B2E49;

* {
	border: none;
	font-family: "SourceSans3VF", "Symbols Nerd Font";
	font-size: 14px;
	font-weight: 600;
	margin: 0px;
	padding: 0px;
	border-radius: 0;
}

window#waybar {
	background-color: @kana-base;
	color: @kana-text;
	transition-property: background-color;
	transition-duration: 0.5s;
}

#workspaces > button:last-child {
	padding-right: 5px;
}
#workspaces > button:first-child {
	padding-left: 7px;
}

#workspaces button {
	padding: 0px 2px 0px 2px;
	margin: -2px 0px;
	min-width: 15px;
	background-color: @kana-overlay;
}

#workspaces button:hover label {
	color: #959da5;
}

#workspaces button.focused {
	color: @kana-text;
}

#workspaces button.urgent {
	color: @kana-blue;
}

#workspaces button#sway-workspace-1.persistent,
#workspaces button#sway-workspace-2.persistent,
#workspaces button#sway-workspace-3.persistent,
#workspaces button#sway-workspace-4.persistent,
#workspaces button#sway-workspace-5.persistent {
	color: @kana-subtile;
}

#workspaces button.focused label {
	color: @kana-white;
}

#workspaces button#sway-workspace-1 {
	color: @kana-red;
}

#workspaces button#sway-workspace-2 {
	color: @kana-pink;
}

#workspaces button#sway-workspace-3 {
	color: @kana-purple;
}

#workspaces button#sway-workspace-4 {
	color: @kana-blue;
}

#workspaces button#sway-workspace-5 {
	color: @kana-green;
}

tooltip {
	border: 2px solid @kana-text;
	background-color: @kana-overlay;
}

/***** Separators  *****/
#custom-sep0,
#custom-sep1,
#custom-sep3,
#custom-sep4,
#custom-sep5,
#custom-sep6 {
	margin-top: -32px;
	margin-bottom: -36px;
	margin-right: -12px;
	font-size: 28px;
}

#custom-sep0 {
	color: @kana-overlay;
	background-color: transparent;
}
#custom-sep1 {
	color: @kana-base;
	background-color: @kana-overlay;
}

#custom-sep3 {
	color: @volume;
	background-color: transparent;
}

#custom-sep4 {
	color: @bat;
	background-color: @volume;
}

#custom-sep5 {
	color: @kana-overlay;
	background-color: @bat;
}

#custom-sep6 {
	color: @kana-base;
	background-color: @kana-overlay;
}
/**************/

#clock {
	background-color: @kana-base;
}

#battery {
	background-color: @bat;
	color: @kana-text;
	padding-left: 7px;
}

#battery.charging,
#battery.plugged {
	color: @kana-text;
	background-color: @bat;
	padding-left: 7px;
}

@keyframes blink {
	to {
		color: @kana-red;
	}
}

#battery.critical:not(.charging) {
	background-color: @bat;
	color: @kana-text;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:disabled,
button:disabled {
	all: unset;
	min-width: 0;
}

#cpu,
#memory {
	margin-right: 12px;
}

#temperature {
	margin-right: 12px;
}

#cpu,
#memory,
#temperature,
#backlight,
#custom-weather,
#custom-pacman,
#custom-artist,
#custom-title {
	background-color: transparent;
}

#cpu {
	color: @kana-red;
}

#memory {
	color: @kana-pink;
}

#custom-launcher {
	color: @kana-white;
	background-color: transparent;
}

#temperature {
	color: @kana-purple;
}

#temperature.critical {
	color: @kana-purple;
}

#backlight {
	color: @kana-green;
	margin-right: 10px;
}

#custom-weather {
	color: @kana-yellow;
	margin-top: -5px;
	margin-bottom: -5px;
}

#custom-pacman {
	color: @kana-blue;
	margin-right: 7px;
	margin-top: -5px;
	margin-bottom: -5px;
}

#pulseaudio,
#battery,
#network,
#clock {
	padding-left: 7px;
	padding-right: 7px;
}

#custom-launcher {
	padding-left: 10px;
	padding-right: 10px;
}

#tray,
#network {
	background-color: @kana-overlay;
}

#tray {
	padding-right: 7px;
	margin-top: -14px;
	margin-bottom: -14px;
}

#network,
#battery,
#pulseaudio,
#custom-launcher {
	margin-top: -5px;
	margin-bottom: -5px;
}

#network.disconnected {
	color: #656f7a;
	margin: -10px 0px -10px 0px;
}

#pulseaudio {
	background-color: @volume;
	color: @kana-text;
}

#pulseaudio.muted {
	color: #8f9baa;
}

#custom-artist {
	font-size: 15px;
	color: @kana-text;
	margin: 0px;
	padding-right: 4px;
	padding-left: 5px;
}

#custom-title {
	color: #8E939B;
	font-size: 15px;
	margin: 0px;
}
slider {
	min-height: 0px;
	min-width: 0px;
	margin-left: 5px;
	padding-right: 5px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

trough {
	min-height: 8px;
	min-width: 90px;
	border-radius: 5px;
}

highlight {
	min-height: 8px;
	border-radius: 5px;
}

#pulseaudio-slider {
	background-color: @volume;
}

#pulseaudio-slider trough {
	background-color: @kana-base;
}
#pulseaudio-slider highlight {
	background-color: @kana-text;
}

#custom-recorder {
	font-size: 15px;
	margin: 2px 7px 0px 7px;
	color: @kana-red;
}
