:root {
  --sfwindow: #171A24;
  --sfsecondary: #1F232F;

  &[uidensity="compact"] {
    --tab-min-height: 26px;
  }
}

/* Tabs colors  */
#tabbrowser-tabs:not([movingtab])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab
> .tab-stack
> .tab-background[multiselected="true"],
#tabbrowser-tabs:not([movingtab])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab
> .tab-stack
> .tab-background[selected="true"] {
  background-image: none !important;
}

/* Inactive tabs color */
#navigator-toolbox {
  background-color: var(--sfwindow) !important;
}

/* Window colors  */
:root {
  --toolbar-bgcolor: var(--sfsecondary) !important;
  --tabs-border-color: var(--sfsecondary) !important;
  --lwt-sidebar-background-color: var(--sfwindow) !important;
  --lwt-toolbar-field-focus: var(--sfsecondary) !important;
  --tab-block-margin: 0 !important;
}

/* Sidebar color  */
#sidebar-box,
.sidebar-placesTree {
  background-color: var(--sfwindow) !important;
}

/* Tabs elements  */
.tab-close-button {
  display: none;
}

#nav-bar:not([tabs-hidden="true"]) {
  box-shadow: none;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

.tab-background {
  border-right: 0px solid rgba(0, 0, 0, 0) !important;
  margin-left: -4px !important;
}

.tabbrowser-tab:is([visuallyselected="true"], [multiselected]) > .tab-stack > .tab-background {
  box-shadow: none !important;
  background-color: red !important;
}

.tabbrowser-tab[last-visible-tab="true"] {
  padding-inline-end: 0 !important;
}

#tabs-newtab-button {
  padding-left: 0 !important;
}

/* Url Bar  */
#urlbar {
  border-radius: 7px !important;
}

#urlbar-container {
  border-radius: 7px !important;
  margin-left: 0 !important;
}

#urlbar[focused="true"] > #urlbar-background {
  box-shadow: none;
  outline: none !important;
}
#urlbar:is([focused="true"], [open]) > #urlbar-background, #searchbar:focus-within {
  background-color: #272C3B !important;
}

#urlbar[open] > #urlbar-background {
  border-color: rgb(47, 52, 68) !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.63) !important;
}

#urlbar-input-container {
  background-color: #272c3b !important;
}

#urlbar[breakout] {
  position: absolute !important;
}
#urlbar-container[breakout] {
  top: 4px !important;
}
hbox#urlbar {
  --urlbar-toolbar-height: 26.00px !important;
}
#urlbar[breakout][breakout-extend] {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  padding-block: 1px !important;
  padding-inline: 1px !important;
}

#navigator-toolbox {
  border: none !important;
}
#urlbar-background {
  border-radius: 7px !important;
}

toolbarbutton.bookmark-item:not(.subviewbutton) {
  min-width: 1.6em;
}

/* Toolbar  */
#tracking-protection-icon-container,
/* #urlbar-zoom-button, */
#star-button-box,
#pageActionButton,
#pageActionSeparator,
#tabs-newtab-button,
/* #back-button, */
/* #PanelUI-button, */
/* #forward-button, */
.tab-secondary-label {
  display: none !important;
}

.urlbarView-url {
  color: #dedede !important;
  border-radius: 5px !important;
}

/* Disable elements  */
/* #context-navigation, */
#context-savepage,
#context-pocket,
#context-sendpagetodevice,
#context-selectall,
/* #context-viewsource, */
#context-inspect-a11y,
#context-sendlinktodevice,
#context-openlinkinusercontext-menu,
#context-bookmarklink,
#context-savelink,
#context-savelinktopocket,
#context-sendlinktodevice,
/* #context-searchselect, */
/* #context-sendimage, */
#context-print-selection,
.personalize-button {
  display: none !important;
}

/* #context_bookmarkTab, */
#context_moveTabOptions,
#context_sendTabToDevice,
#context_reopenInContainer {
  /* #context_selectAllTabs, */
  /* #context_closeTabOptions { */
  display: none !important;
}

#context-navigation + menuseparator {
  display: none !important;
}

/* Remove active tab outline */
#TabsToolbar #firefox-view-button[open]:not(:focus-visible) > .toolbarbutton-icon:-moz-lwtheme,
.tab-background[selected]:not([multiselected="true"]):-moz-lwtheme {
  outline: none !important;
}

#alltabs-button {
  display: none;
}

#nav-bar:not([tabs-hidden="true"]) {
  position: relative;
}

input.fake-editable {
  background-color: #21202e !important;
}

.tabbrowser-tab {
  background-color: transparent;
  border-radius: 5px !important;
  border-width: 0px !important;
  margin: 4px 0px 4px 4px !important;
  padding: 0px 2px 0px 2px !important;
  height: 25px !important;
}

#tabbrowser-tabs:not([movingtab])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab
> .tab-stack
> .tab-background[multiselected="true"],
#tabbrowser-tabs:not([movingtab])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab
> .tab-stack
> .tab-background[selected="true"] {
  box-shadow: 0 2px 2px #000000ab !important;
  background-color: #404756 !important;
}
.tab-background {
  border-radius: 5px !important;
  min-height: 0px !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected], [multiselected]) {
  background-color: color-mix(in srgb, currentColor 15%, #161c2dcc) !important;
}
