@define-color	focusColor #E0D9AE;
@define-color	poweroffColor #FF5D62;

* {
  background-image: none;
}

window {
  background-color: rgba(10, 10, 16, 0.98);
}

button {
  font-family: "Symbols Nerd Font";
  background-color: #0f101a;
  color: #161827;
  margin-top: 200px;
  margin-bottom: 300px;
  font-size: 120px;
  font-weight: 600;
  box-shadow: none;
}

#suspend, #reboot, #lock, #shutdown {
  padding: 5px 20px 5px 20px;
}

#logout {
  padding: 5px 20px 5px 20px;
}

button:focus#reboot, button:hover#reboot, 
button:focus#suspend, button:hover#suspend, 
button:focus#lock, button:hover#lock,
button:focus#logout, button:hover#logout { 
  box-shadow:  0px 10px @focusColor; 
  border-color: @focusColor;
  color: @focusColor;
}

button:focus#shutdown, button:active#shutdown, button:hover#shutdown {
  box-shadow: 0px 10px @poweroffColor;
  border-color: @poweroffColor;
  color: @poweroffColor; 
} 
